#Inicio, #Contacto, #ConsorciosAdministrados, #Equipo, #Servicios {
  background-color: #0cb7f2;
  height: 25%;
}
#Inicio .Indice h1, #Contacto .Indice h1, #ConsorciosAdministrados .Indice h1, #Equipo .Indice h1, #Servicios .Indice h1 {
  font-family: "Times New Roman", serif;
  color: black;
}
#Inicio .Indice .bg-custom-color, #Contacto .Indice .bg-custom-color, #ConsorciosAdministrados .Indice .bg-custom-color, #Equipo .Indice .bg-custom-color, #Servicios .Indice .bg-custom-color {
  background-color: #0cb7f2;
}
#Inicio .Indice .bg-custom-color div div .navbar-nav, #Contacto .Indice .bg-custom-color div div .navbar-nav, #ConsorciosAdministrados .Indice .bg-custom-color div div .navbar-nav, #Equipo .Indice .bg-custom-color div div .navbar-nav, #Servicios .Indice .bg-custom-color div div .navbar-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 0;
}
#Inicio .Indice .bg-custom-color div div .navbar-nav .nav-link, #Contacto .Indice .bg-custom-color div div .navbar-nav .nav-link, #ConsorciosAdministrados .Indice .bg-custom-color div div .navbar-nav .nav-link, #Equipo .Indice .bg-custom-color div div .navbar-nav .nav-link, #Servicios .Indice .bg-custom-color div div .navbar-nav .nav-link {
  color: black;
  font-family: "Times New Roman", serif;
  font-size: 2rem;
}

.ImagenDeFondoIndex {
  background-image: url("../images/ImagenCabaHP3.jpg");
  background-size: cover;
  background-position: center;
  height: 35%;
  font-family: "Times New Roman", serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "quienesSomos" "detalleIndex";
}
.ImagenDeFondoIndex .quienesSomos {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "quienesSomos-h3" "quienesSomos-texto";
  grid-area: quienesSomos;
}
.ImagenDeFondoIndex .quienesSomos .quienesSomos-h3 {
  grid-area: quienesSomos-h3;
}
.ImagenDeFondoIndex .quienesSomos .quienesSomos-texto {
  grid-area: quienesSomos-texto;
}
.ImagenDeFondoIndex .detalleIndex {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "mision vision valores";
  grid-area: detalleIndex;
}
.ImagenDeFondoIndex .detalleIndex .mision {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "mision-h3" "mision-texto";
  grid-area: mision;
}
.ImagenDeFondoIndex .detalleIndex .mision .mision-h3 {
  grid-area: mision-h3;
}
.ImagenDeFondoIndex .detalleIndex .mision .mision-texto {
  grid-area: mision-texto;
}
.ImagenDeFondoIndex .detalleIndex .vision {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "vision-h3" "vision-texto";
  grid-area: vision;
}
.ImagenDeFondoIndex .detalleIndex .vision .vision-h3 {
  grid-area: vision-h3;
}
.ImagenDeFondoIndex .detalleIndex .vision .vision-texto {
  grid-area: vision-texto;
}
.ImagenDeFondoIndex .detalleIndex .valores {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "valores-h3" "valores-texto";
  grid-area: valores;
}
.ImagenDeFondoIndex .detalleIndex .valores .valores-h3 {
  grid-area: valores-h3;
}
.ImagenDeFondoIndex .detalleIndex .valores .valores-texto {
  grid-area: valores-texto;
}

.ImagenDeFondoServicios {
  background-image: url("../images/ImagenCabaHP3.jpg");
  background-size: cover;
  background-position: center;
  height: 35%;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "ServiciosAdministracion ServiciosAbogado";
}
.ImagenDeFondoServicios .ServiciosAdministracion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 1.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "ServiciosAdministracion-h3" "ServiciosAdministracion-texto";
  grid-area: ServiciosAdministracion;
}
.ImagenDeFondoServicios .ServiciosAdministracion .ServiciosAdministracion-h3 {
  justify-self: center;
  align-self: center;
  grid-area: ServiciosAdministracion-h3;
}
.ImagenDeFondoServicios .ServiciosAdministracion .ServiciosAdministracion-texto {
  justify-self: center;
  align-self: center;
  grid-area: ServiciosAdministracion-texto;
}
.ImagenDeFondoServicios .ServiciosAbogado {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 1.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "ServiciosAbogado-h3" "ServiciosAbogado-texto";
  grid-area: ServiciosAbogado;
}
.ImagenDeFondoServicios .ServiciosAbogado .ServiciosAbogado-h3 {
  justify-self: center;
  align-self: center;
  grid-area: ServiciosAbogado-h3;
}
.ImagenDeFondoServicios .ServiciosAbogado .ServiciosAbogado-texto {
  justify-self: center;
  align-self: center;
  grid-area: ServiciosAbogado-texto;
}

.ImagenDeFondoEquipo {
  background-image: url("../images/ImagenCabaHP3.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Times New Roman", serif;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "Administradores" "Abogada" "Proveedores";
}
.ImagenDeFondoEquipo .Administradores {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 1.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "administradores-h3" "administradores-divs";
  grid-area: Administradores;
}
.ImagenDeFondoEquipo .Administradores .administradores-h3 {
  justify-self: center;
  align-self: center;
  grid-area: administradores-h3;
}
.ImagenDeFondoEquipo .Administradores .administradores-divs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "emilio maria";
  grid-area: administradores-divs;
}
.ImagenDeFondoEquipo .Administradores .administradores-divs .emilio {
  justify-self: center;
  align-self: center;
  grid-area: emilio;
}
.ImagenDeFondoEquipo .Administradores .administradores-divs .maria {
  justify-self: center;
  align-self: center;
  grid-area: maria;
}
.ImagenDeFondoEquipo .Abogada {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 1.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "abogada-h3" "abogada-div";
  grid-area: Abogada;
}
.ImagenDeFondoEquipo .Abogada .abogada-h3 {
  justify-self: center;
  align-self: center;
  grid-area: abogada-h3;
}
.ImagenDeFondoEquipo .Abogada .abogada-div {
  justify-self: center;
  align-self: center;
  grid-area: abogada-div;
}
.ImagenDeFondoEquipo .Proveedores {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.8fr 1.2fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "proveedores-h4" "proveedores-divs";
  grid-area: Proveedores;
}
.ImagenDeFondoEquipo .Proveedores .proveedores-h4 {
  justify-self: center;
  align-self: center;
  grid-area: proveedores-h4;
}
.ImagenDeFondoEquipo .Proveedores .proveedores-divs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "lomar ascensor plomero electricista";
  grid-area: proveedores-divs;
}
.ImagenDeFondoEquipo .Proveedores .proveedores-divs .lomar {
  justify-self: center;
  align-self: center;
  grid-area: plomero;
  grid-area: lomar;
}
.ImagenDeFondoEquipo .Proveedores .proveedores-divs .ascensor {
  justify-self: center;
  align-self: center;
  grid-area: plomero;
  grid-area: ascensor;
}
.ImagenDeFondoEquipo .Proveedores .proveedores-divs .plomero {
  justify-self: center;
  align-self: center;
  grid-area: plomero;
  grid-area: plomero;
}
.ImagenDeFondoEquipo .Proveedores .proveedores-divs .electricista {
  justify-self: center;
  align-self: center;
  grid-area: plomero;
  grid-area: electricista;
}

.ImagenDeFondoEquipo ul {
  list-style: none;
  text-align: justify;
}
.ImagenDeFondoEquipo ul li {
  color: #0cb7f2;
  font-family: "Times New Roman", serif;
  font-size: 1.4rem;
}

.ImagenDeFondoConsorcios {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "foto mapa listaConsorcios";
  background-image: url("../images/ImagenCabaHP3.jpg");
}
.ImagenDeFondoConsorcios .foto {
  justify-self: center;
  align-self: center;
  grid-area: foto;
  background-color: black;
}
.ImagenDeFondoConsorcios .mapa {
  justify-self: center;
  align-self: center;
  grid-area: mapa;
}
.ImagenDeFondoConsorcios .listaConsorcios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.7fr 1.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "listaConsorcios-h4" "listaConsorcios-lista";
  grid-area: listaConsorcios;
}
.ImagenDeFondoConsorcios .listaConsorcios .listaConsorcios-h4 {
  justify-self: center;
  align-self: center;
  grid-area: listaConsorcios-h4;
}
.ImagenDeFondoConsorcios .listaConsorcios .listaConsorcios-lista {
  justify-self: center;
  align-self: center;
  grid-area: listaConsorcios-lista;
}
.ImagenDeFondoConsorcios .listaConsorcios .listaConsorcios-lista ul {
  list-style-type: none;
  font-family: "Times New Roman", serif;
  font-size: 1.4rem;
  color: #0cb7f2;
  text-align: initial;
}

.ImagenDeFondoContacto {
  background-image: url("../images/ImagenCabaHP3.jpg");
  background-size: cover;
  background-position: center;
  font-family: "Times New Roman", serif;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 0.5fr 2fr 0.5fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "formulario-h3 formulario-h3" "datos consulta" "botones botones";
}
.ImagenDeFondoContacto .formulario-h3 {
  justify-self: center;
  align-self: center;
  grid-area: formulario-h3;
}
.ImagenDeFondoContacto .datos {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "nombre" "apellido" "telefono" "mail";
  grid-area: datos;
}
.ImagenDeFondoContacto .datos .nombre {
  grid-area: nombre;
}
.ImagenDeFondoContacto .datos .apellido {
  grid-area: apellido;
}
.ImagenDeFondoContacto .datos .telefono {
  grid-area: telefono;
}
.ImagenDeFondoContacto .datos .mail {
  grid-area: mail;
}
.ImagenDeFondoContacto .consulta {
  margin: 2rem;
  grid-area: consulta;
}
.ImagenDeFondoContacto .consulta textarea {
  height: 30rem;
}
.ImagenDeFondoContacto .botones {
  justify-self: center;
  align-self: center;
  grid-area: botones;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1768ac;
  height: 100%;
}

footer .footerCompleto {
  font-family: "Times New Roman", serif;
  background-color: #0cb7f2;
  font-size: 1.7rem;
  color: black;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "IndiceFooter DatosDeContacto";
}
footer .footerCompleto .IndiceFooter {
  justify-self: center;
  align-self: center;
  grid-area: IndiceFooter;
}
footer .footerCompleto .IndiceFooter nav ul {
  list-style: none;
  text-align: center;
}
footer .footerCompleto .IndiceFooter nav ul a {
  color: black;
  text-decoration: none;
}
footer .footerCompleto .DatosDeContacto {
  justify-self: center;
  align-self: center;
  grid-area: DatosDeContacto;
}
footer .footerCompleto .DatosDeContacto ul {
  list-style: none;
  text-align: center;
}

h1 {
  color: black;
  font-family: "Times New Roman", serif;
  font-size: 5.5rem;
  font-weight: bolder;
  font-style: none;
  text-align: center;
}

h2 {
  color: white;
  text-align: center;
  font-size: 4rem;
  font-family: "Times New Roman", serif;
}

h3 {
  color: white;
  font-size: 3.5rem;
  font-family: "Times New Roman", serif;
}

h4 {
  color: white;
  font-size: 2.5rem;
  font-family: "Times New Roman", serif;
}

p {
  color: #0cb7f2;
  font-size: 1.4rem;
  font-family: "Times New Roman", serif;
}

header {
  height: 25%;
}

main {
  height: 15%;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  height: 35%;
  padding: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

footer {
  height: 25%;
}

legend {
  color: #0cb7f2;
  font-size: 1.8rem;
  font-family: "Times New Roman", serif;
}

label {
  font-size: 1.4rem;
  font-family: "Times New Roman", serif;
  color: #0cb7f2;
}

@media screen and (max-width: 768px) {
  footer .footerCompleto {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "IndiceFooter" "DatosDeContacto";
  }
  footer .footerCompleto .IndiceFooter {
    grid-area: IndiceFooter;
  }
  footer .footerCompleto .DatosDeContacto {
    grid-area: DatosDeContacto;
  }
}
@media screen and (max-width: 768px) {
  .ImagenDeFondoIndex .quienesSomos {
    grid-template-rows: repeat(2, 1fr);
  }
  .ImagenDeFondoIndex .detalleIndex {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "mision" "vision" "valores";
  }
  .ImagenDeFondoIndex .detalleIndex .mision {
    grid-template-rows: repeat(2, 1fr);
  }
  .ImagenDeFondoIndex .detalleIndex .vision {
    grid-template-rows: repeat(2, 1fr);
  }
  .ImagenDeFondoIndex .detalleIndex .valores {
    grid-template-rows: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .ImagenDeFondoServicios {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "ServiciosAdministracion" "ServiciosAbogado";
  }
  .ImagenDeFondoServicios .ServiciosAdministracion {
    grid-area: ServiciosAdministracion;
  }
  .ImagenDeFondoServicios .ServiciosAbogado {
    grid-area: ServiciosAbogado;
  }
}
@media screen and (max-width: 768px) {
  .ImagenDeFondoEquipo .Administradores .administradores-divs {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "emilio" "maria";
  }
  .ImagenDeFondoEquipo .Proveedores .proveedores-divs {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: "lomar" "ascensor" "plomero" "electricista";
  }
}
@media screen and (max-width: 768px) {
  .ImagenDeFondoConsorcios {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "foto" "listaConsorcios" "mapa";
  }
  .ImagenDeFondoConsorcios .listaConsorcios {
    grid-template-rows: 0.5fr 1.5fr;
  }
}
@media screen and (max-width: 768px) {
  .ImagenDeFondoContacto {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr repeat(2, 1.5fr) 0.5fr;
    grid-template-areas: "formulario-h3" "datos" "consulta" "botones";
  }
}

/*# sourceMappingURL=estilos.css.map */
