#Contacto {
    @extend #Inicio
}

@mixin self-self {
    justify-self: center;
    align-self: center;
}

.ImagenDeFondoContacto { 
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "formulario-h3"
    "datos";
    background-image: $imagendefondo;
    background-size: cover;
    background-position: center;
    .formulario-h3 {
        @include self-self;
        grid-area: formulario-h3;
    }
    .datos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "nombre consulta"
        "apellido consulta"
        "telefono consulta"
        "mail consulta"
        "botones botones";
        grid-area: datos;
    }.nombre {
        @include self-self;
        grid-area: nombre;
    }
    .apellido {
        @include self-self;
        grid-area: apellido;
    }
    .telefono {
        @include self-self;
        grid-area: telefono;
    }
    .mail {
        @include self-self;
        grid-area: mail;
    }
    .consulta {    
        @include self-self;
        grid-area: consulta;
        label textarea {
            height: 30rem;
        }
    }
    .botones {
        @include self-self;
        grid-area: botones;
    }
}
