#ConsorciosAdministrados {
    @extend #Inicio
}

@mixin self-self {
    justify-self: center;
    align-self: center;
}

.ImagenDeFondoConsorcios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "foto mapa listaConsorcios";
    background-image: $imagendefondo;
    .foto {
        @include self-self;
        grid-area: foto;
        background-color: black;
    }
    .mapa {
        @include self-self;
        grid-area: mapa;
    }
    .listaConsorcios {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 1.3fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "listaConsorcios-h4"
        "listaConsorcios-lista";
        grid-area: listaConsorcios;
        .listaConsorcios-h4 {
            @include self-self;
            grid-area: listaConsorcios-h4;
        }
        .listaConsorcios-lista {
            @include self-self;
            grid-area: listaConsorcios-lista;
            ul {
                list-style-type: none;
                font-family: $fuenteprincipal;
                font-size: $tamanodetexto;
                color: $colordefuente;
                text-align: initial;
            }
        }
    }
}