#Contacto {
    @extend #Inicio
}

.ImagenDeFondoContacto { 
    background-image: $imagendefondo;
    background-size: cover;
    background-position: center;
    font-family: $fuenteprincipal;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "formulario-h3 formulario-h3"
    "datos consulta"
    "botones botones";
    .formulario-h3 {
        justify-self: center;
        align-self: center;
        grid-area: formulario-h3;
    }
    .datos {  
        margin: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "nombre"
        "apellido"
        "telefono"
        "mail";
        grid-area: datos;
        .nombre { 
            grid-area: nombre; 
        }
        .apellido { 
            grid-area: apellido; 
        }
        .telefono { 
            grid-area: telefono; 
        }
        .mail { 
            grid-area: mail; 
        }
    }
    .consulta {
        margin: 2rem;
        grid-area: consulta;
        textarea {
            height: 30rem;
        }
    }
    .botones {
        justify-self: center;
        align-self: center;
        grid-area: botones;
    }
}