#Equipo {
    @extend #Inicio
}
.ImagenDeFondoEquipo {
    background-image: $imagendefondo;
    background-size: cover;
    background-position: center;
    font-family: $fuenteprincipal;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "Administradores"
    "Abogada"
    "Proveedores";
    .Administradores {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 1.2fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "administradores-h3"
        "administradores-divs";
        grid-area: Administradores;
        .administradores-h3 {
            justify-self: center;
            align-self: center;
            grid-area: administradores-h3;
        }
        .administradores-divs {  display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
            "emilio maria";
            grid-area: administradores-divs;
            .emilio {
                justify-self: center;
                align-self: center;
                grid-area: emilio;
            }
            .maria {
                justify-self: center;
                align-self: center;
                grid-area: maria;
            }
        }
    }
    .Abogada {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 1.2fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "abogada-h3"
        "abogada-div";
        grid-area: Abogada;
        .abogada-h3 {
            justify-self: center;
            align-self: center;
            grid-area: abogada-h3;
        }
        .abogada-div {
            justify-self: center;
            align-self: center;
            grid-area: abogada-div;
        }
    }
    .Proveedores {  display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 1.2fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "proveedores-h4"
        "proveedores-divs";
        grid-area: Proveedores;
        .proveedores-h4 {
            justify-self: center;
            align-self: center;
            grid-area: proveedores-h4;
        }
        .proveedores-divs {  display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
            gap: 0px 0px;
            grid-auto-flow: row;
            grid-template-areas:
            "lomar ascensor plomero electricista";
            grid-area: proveedores-divs;
            .lomar {
                justify-self: center;
                align-self: center;
                grid-area: lomar;
            }
            .ascensor {
                justify-self: center;
                align-self: center;
                grid-area: ascensor;
            }
            .plomero {
                justify-self: center;
                align-self: center;
                grid-area: plomero;
            }
            .electricista {
                justify-self: center;
                align-self: center;
                grid-area: electricista;
            }
        }
    }
}

.ImagenDeFondoEquipo ul {
    list-style: none;
    text-align: justify;
    li {
        color: $colordefuente;
        font-family: $fuenteprincipal;
        font-size: $tamanodetexto;
    }
}