#Inicio {
    background-color: $colordefuente;
    .Indice {
        h1 {
        font-family: $fuenteprincipal;
        color: $colordetitulos;
        }
        .bg-custom-color {
            background-color: $colordefuente;
            div div .navbar-nav {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                padding: 0;
                .nav-link {
                    color: black;
                    font-family: $fuenteprincipal;
                    font-size: 2rem;
                }
            }
        }
    }
}
.ImagenDeFondoIndex {
    background-image: $imagendefondo;
    background-size: cover;
    background-position: center;
    font-family: $fuenteprincipal;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .quienesSomos {
        margin-bottom: 20px;
    }
    .detalleIndex{
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        div {
            flex-basis: calc(33.33% - 10px);
            margin: 5px;
            padding: 10px;
        }
    }
}
