#Inicio {
    background-color: $colordefuente;
    height: 25%;
    .Indice {
        h1 {
        font-family: $fuenteprincipal;
        color: black;
        }
        .bg-custom-color {
            background-color: $colordefuente;
            div div .navbar-nav {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                padding: 0;
                .nav-link {
                    color: black;
                    font-family: $fuenteprincipal;
                    font-size: 2rem;
                }
            }
        }
    }
}

@mixin mvv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.7fr 1.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.ImagenDeFondoIndex {  
    background-image: $imagendefondo;
    background-size: cover;
    background-position: center;
    height: 35%;
    font-family: $fuenteprincipal;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "quienesSomos"
    "detalleIndex";
    .quienesSomos {  
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "quienesSomos-h3"
        "quienesSomos-texto";
        grid-area: quienesSomos;
        .quienesSomos-h3 { 
            grid-area: quienesSomos-h3;
        }
        .quienesSomos-texto {
            grid-area: quienesSomos-texto;
        }
    }
    .detalleIndex {  
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "mision vision valores";
        grid-area: detalleIndex;
        .mision {  
            @include mvv;
            grid-template-areas:
            "mision-h3"
            "mision-texto";
            grid-area: mision;
            .mision-h3 { 
                grid-area: mision-h3; 
            }
            .mision-texto {
                grid-area: mision-texto; 
            }
        }
        .vision {  
            @include mvv;
            grid-template-areas:
            "vision-h3"
            "vision-texto";
            grid-area: vision;
            .vision-h3 { 
                grid-area: vision-h3; 
            }
            .vision-texto { 
                grid-area: vision-texto; 
            }
        }
        .valores {  
            @include mvv;
            grid-template-areas:
            "valores-h3"
            "valores-texto";
            grid-area: valores;
            .valores-h3 { 
                grid-area: valores-h3; 
            }
            .valores-texto { 
                grid-area: valores-texto; 
            }
        }
    }
}