@media screen and (max-width: 768px){
    footer {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "IndiceFooter"
        "DatosDeContacto";
        .IndiceFooter{
            grid-area: IndiceFooter;
        }
        .DatosDeContacto{
            grid-area: DatosDeContacto;
        }
    }
}

@media screen and (max-width: 768px){
    .ImagenDeFondoIndex{
        .quienesSomos{
            grid-template-rows: repeat(2, 1fr);
        }
        .detalleIndex{
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
            "mision"
            "vision"
            "valores";
            .mision{
                grid-template-rows: repeat(2, 1fr);
            }
            .vision{
                grid-template-rows: repeat(2, 1fr);
            }
            .valores{
                grid-template-rows: repeat(2, 1fr);
            }
        }
    } 
}

@media screen and (max-width: 768px) {
    .ImagenDeFondoServicios {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
        "ServiciosAdministracion"
        "ServiciosAbogado";
        .ServiciosAdministracion{
            grid-area: ServiciosAdministracion;
        }
        .ServiciosAbogado{
            grid-area: ServiciosAbogado;
        }
    }
}

@media screen and (max-width: 768px){
    .ImagenDeFondoEquipo{
        .Administradores{
            .administradores-divs{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(2, 1fr);
                grid-template-areas:
                "emilio"
                "maria";
            }
        }
        .Proveedores{
            .proveedores-divs{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(4, 1fr);
                grid-template-areas:
                "lomar"
                "ascensor"
                "plomero"
                "electricista";
            }
        }
    }
}

@media screen and (max-width: 768px){
    .ImagenDeFondoConsorcios{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas:
        "foto"
        "listaConsorcios"
        "mapa";
        .listaConsorcios{
            grid-template-rows: 0.5fr 1.5fr;
        }
    }
}

@media screen and (max-width: 768px){
    .ImagenDeFondoContacto{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        grid-template-areas:
        "nombre"
        "apellido"
        "telefono"
        "mail"
        "consulta"
        "botones";
    }
}