#Servicios {
    @extend #Inicio
}
.ImagenDeFondoServicios {
    background-image: $imagendefondo;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: inherit;
    gap: 20px;
    align-items: center;
    height: 50vh;
    .ServiciosAdministracion {
        h3 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
    .ServiciosAbogado {
        h3 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
}