#Servicios {
    @extend #Inicio;
}
.ImagenDeFondoServicios {
    background-image: $imagendefondo;
    background-size: cover;
    background-position: center;
    height: 35%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "ServiciosAdministracion ServiciosAbogado";
    .ServiciosAdministracion {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 1.2fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "ServiciosAdministracion-h3"
        "ServiciosAdministracion-texto";
        grid-area: ServiciosAdministracion;
        .ServiciosAdministracion-h3 {
            justify-self: center;
            align-self: center;
            grid-area: ServiciosAdministracion-h3;
        }
        .ServiciosAdministracion-texto {
            justify-self: center;
            align-self: center;
            grid-area: ServiciosAdministracion-texto;
        }
    }
    .ServiciosAbogado {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.8fr 1.2fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
        "ServiciosAbogado-h3"
        "ServiciosAbogado-texto";
        grid-area: ServiciosAbogado;
        .ServiciosAbogado-h3 {
            justify-self: center;
            align-self: center;
            grid-area: ServiciosAbogado-h3;
        }
        .ServiciosAbogado-texto {
            justify-self: center;
            align-self: center;
            grid-area: ServiciosAbogado-texto;
        }
    }
}