#Servicios {
    background-color: $colordefuente;
    .Indice {
        .bg-custom-color {
            background-color: $colordefuente;
            div div .navbar-nav {
                display: flex;
                justify-content: space-around;
                align-items: center;
                width: 100%;
                padding: 0;
                .nav-link {
                    color: black;
                    font-family: $fuenteprincipal;
                    font-size: 2rem;
                }
            }
        }
    }
}
.ImagenDeFondoServicios {
    background-image: $imagendefondo;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: inherit;
    gap: 20px;
    align-items: center;
    height: 50vh;
    .ServiciosAdministracion {
        h3 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
    .ServiciosAbogado {
        h3 {
            text-align: center;
        }
        p {
            text-align: center;
        }
    }
}