@import "variables";
@import "index";
@import "servicios";
@import "equipo";
@import "consorcios";
@import "contacto";

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
background-color: $colordefondo;
height: 100%;
}

footer .footerCompleto {
    font-family: $fuenteprincipal;
    background-color: $colordefuente;
    font-size: 1.7em;
    color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "IndiceFooter DatosDeContacto";
    .IndiceFooter {
        justify-self: center;
        align-self: center;
        grid-area: IndiceFooter;
        nav ul {
            list-style: none;
            text-align: center;
            a {
                color: black;
                text-decoration: none;
            }
        }
    }
    .DatosDeContacto {
        justify-self: center;
        align-self: center;
        grid-area: DatosDeContacto;
        ul {
            list-style: none;
            text-align: center;
        }
    }
}

h1 {
    color: black;
    font-family: $fuenteprincipal;
    font-size: 5.5em;
    font-weight: bolder;
    font-style: none;
    text-align: center;
}

h2 {
    color: $colordetitulos;
    text-align: center;
    font-size: 4em;
    font-family: $fuenteprincipal;
}

h3 {
    color: $colordetitulos;
    font-size: 3.5em;
    font-family: $fuenteprincipal;
}

h4 {
    color: $colordetitulos;
    font-size: 2.5em;
    font-family: $fuenteprincipal;
}

p {
    color: $colordefuente;
    font-size: $tamanodetexto;
    font-family: $fuenteprincipal;
}

main {
    padding: 1 rem;
    margin-top: 1.5 rem;
    margin-bottom: 1.5 rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    padding: 1 rem;
    margin-top: 1.5 rem;
    margin-bottom: 1.5 rem;
}

legend {
    color: $colordefuente;
    font-size: 1.8em;
    font-family: $fuenteprincipal;
}

label {
    font-size: $tamanodetexto;
    font-family: $fuenteprincipal;
    color: $colordefuente;
}

@import "mediaqueries";